<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <link rel="stylesheet" type="text/css" href="congress.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Congress API</title>
        <script src="congress.js"></script>
        <script src="dirPagination.js"></script>
        <script src="http://momentjs.com/downloads/moment.js"></script>
    </head>
    <body id=container style="font-family: Times, Cambria, monospace; padding-left: 0px; padding-right: 0px;" class="container-fluid">
        <div class="head navbar-fixed-top">
            <div class="menu-link">
                <a href="javascript:toggleMenu();">
                &#9776;
                </a>
            </div>
            <div class="header">
                <a href="http://sunlightfoundation.com" target="_blank"><img src="images/logo.png" id="logo"/>
                <h3 class="" style="font-weight: bold;"> Congress API </h3>
                </a>
            </div>
        </div>
        <div style="clear:both;"></div>
        <div style="height: auto;">
            <div class="sidecontainer" id="sidemenu">
                <div class="links">
                    <a href="javascript:showList(0, 'state')">
                    <button id="favIcon" type="button" class="btn btn-xs btn-custom">
                        <i class="fa fa-user" style="font-size:18px;transform: scale(1.2,1);" aria-hidden="true"></i>
                    </button>
                    <span class="hidden-xs">Legislators</span>
                    </a>
                </div>
                <div class="links">
                    <a href="javascript:showList(1, 'active')">
                    <button id="favIcon" type="button" class="btn btn-xs btn-custom" >
                        <i class="fa fa-file-o" style="font-size:18px;" aria-hidden="true"></i>
                    </button>
                    <span class="hidden-xs">Bills</span>
                    </a>
                </div>
                <div class="links">
                    <a href="javascript:showList(2, 'house')">
                    <button id="favIcon" type="button" class="btn btn-xs btn-custom" >
                        <i class="fa fa-sign-in" style="font-size:18px;" aria-hidden="true"></i>
                    </button>
                    <span class="hidden-xs">Committees</span>
                    
                    </a>
                </div>
                <div class="links">
                    <a href="javascript:showList(3, 'legislators')">
                    <button id="favIcon" type="button" class="btn btn-xs btn-custom">
                        <i class="fa fa-star" style="font-size:18px;" aria-hidden="true"></i>
                    </button>
                    <span class="hidden-xs">Favorites</span>
                    
                    </a>
                </div>
            </div>
            <div class="container" id="main-container" style="margin-top:50px;">
                <div class="top-title">
                    <h2 id="title"></h2>
                    <hr style="width:100%"/>
                </div>
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active result">
                            <div class="main" id="legislators">
                                <section>
                                    <ul class="nav nav-tabs" style="color:#C3C3C3">
                                        <li class="active"><a data-toggle="tab" href="#0_state">By State</a></li>
                                        <li><a data-toggle="tab" href="#0_house">House</a></li>
                                        <li><a data-toggle="tab" href="#0_senate">Senate</a></li>
                                    </ul>
                                    <div class="tab-content" id="0_subfilter" ng-controller="legislatorsController">
                                        <div id="0_state" class="mobile-style tab-pane fade in active">
                                        <div class="subtitle" id="0_subtitle">
                                            <div id="st">Legislators By State</div>
                                            <div style="float:right; padding-right:2px;" id="0_sf">
                                                <select ng-model="stateLegislators" id="0_state_search" class="form-control" style="width:120px; padding: 2px">
                                                    <option value="">All States</option>
                                                    <option ng-repeat="s in stateNames | orderBy" value={{s}}>{{s}}</option>
                                                </select>
                                            </div>
                                        </div>
                                            <table class="table table-content" id="content">
                                                <thead>
                                                    <th> Party </th>
                                                    <th> Name </th>
                                                    <th>Chamber</th>
                                                    <th>District</th>
                                                    <th> State </th>
                                                    <th></th>
                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="r in legislatorsStateController | orderBy : 'name' | orderBy : 'state' | filter : {state:stateLegislators} | itemsPerPage: pageSize" current-page="currentPage" pagination-id="legState">
                                                        <td class="col-md-2"> <img src="images/{{r.party}}.png" width=30 height=30 alt="Image Not Available"/> </td>
                                                        <td class="col-md-3"> {{ r.name }} </td>
                                                        <td class="col-md-2" ng-if="r.chamber == 'House'"><img src="images/h.png" width=30 height=30 alt="Image not Available"/>&nbsp;{{r.chamber}}</td>
                                                        <td class="col-md-2" ng-if="r.chamber == 'Senate'"><img src="images/s.svg" width=30 height=30 alt="Image not Available"/>&nbsp;{{r.chamber}}</td>
                                                        <td class="col-md-2"> {{ r.district }} </td>
                                                        <td class="col-md-2"> {{ r.state }} </td>
                                                        <td class="col-md-2"> <a href="javascript:viewDetails(0, '{{r.id}}');" class="twhite"><button class="btn btn-primary twhite">View Details</button></a> </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                <dir-pagination-controls class="text-center" 
                                                    direction-links="true"
                                                    pagination-id="legState"
                                                    boundary-links="true">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                        <div id="0_house" class="mobile-style tab-pane fade">
                                        <div class="subtitle" id="0_subtitle">
                                            <div id="st">Legislators By House</div>
                                            <div style="float:right; padding-right:2px;" id="0_sf2">
                                                <input type="text" placeholder="Search" ng-model="searchLegislatorsHouse" id="0_search_house" style="width:120px;"/>
                                            </div>
                                        </div>
                                            <table class="table table-content" id="content">
                                                <thead>
                                                    <th> Party </th>
                                                    <th> Name </th>
                                                    <th>Chamber</th>
                                                    <th>District</th>
                                                    <th> State </th>
                                                    <th></th>
                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="r in legislatorsHouseController | orderBy : 'state' | orderBy : 'name' | filter : searchLegislatorsHouse | itemsPerPage: pageSize" current-page="currentPageHouse" pagination-id="legHouse">
                                                        <td class="col-md-2"> <img src="images/{{r.party}}.png" width=30 height=30 alt="Image Not Available"/> </td>
                                                        <td class="col-md-3"> {{ r.name }} </td>
                                                        <td class="col-md-2" ng-if="r.chamber == 'House'"><img src="images/h.png" width=30 height=30 alt="Image not Available"/>&nbsp;{{r.chamber}}</td>
                                                        <td class="col-md-2" ng-if="r.chamber == 'Senate'"><img src="images/s.svg" width=30 height=30 alt="Image not Available"/>&nbsp;{{r.chamber}}</td>
                                                        <td class="col-md-2"> {{ r.district }} </td>
                                                        <td class="col-md-2"> {{ r.state }} </td>
                                                        <td class="col-md-2"> <a href="javascript:viewDetails(0, '{{r.id}}');" class="twhite"><button class="btn btn-primary twhite">View Details</button></a> </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                <dir-pagination-controls class="text-center" 
                                                    direction-links="true"
                                                    pagination-id="legHouse"
                                                    boundary-links="true">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                        <div id="0_senate" class="mobile-style tab-pane fade">
                                        <div class="subtitle" id="0_subtitle">
                                            <div id="st">Legislators by Senate</div>
                                            <div style="float:right; padding-right:2px;" id="0_sf">
                                                <input type="text" placeholder="Search" ng-model="searchLegislatorsSenate" id="0_search_senate" style="width:120px;"/>
                                            </div>
                                        </div>
                                            <table class="table table-content" id="content">
                                                <thead>
                                                    <th> Party </th>
                                                    <th> Name </th>
                                                    <th>Chamber</th>
                                                    <th> State </th>
                                                    <th></th>
                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="r in legislatorsSenateController | orderBy : 'state' | orderBy : 'name' | filter : searchLegislatorsSenate | itemsPerPage: pageSize" current-page="currentPageSenate" pagination-id="legSenate">
                                                        <td class="col-md-2"> <img src="images/{{r.party}}.png" width=30 height=30 alt="Image Not Available"/> </td>
                                                        <td class="col-md-3"> {{ r.name }} </td>
                                                        <td class="col-md-2" ng-if="r.chamber == 'House'"><img src="images/h.png" width=30 height=30 alt="Image not Available"/>&nbsp;{{r.chamber}}</td>
                                                        <td class="col-md-2" ng-if="r.chamber == 'Senate'"><img src="images/s.svg" width=30 height=30 alt="Image not Available"/>&nbsp;{{r.chamber}}</td>
                                                        <td class="col-md-2"> {{ r.state }} </td>
                                                        <td class="col-md-2"> <a href="javascript:viewDetails(0, '{{r.id}}');" class="twhite"><button class="btn btn-primary twhite">View Details</button></a> </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                <dir-pagination-controls class="text-center" 
                                                    direction-links="true"
                                                    pagination-id="legSenate"
                                                    boundary-links="true">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="main" id="bills">
                                <section>
                                    <ul class="nav nav-tabs" style="color:#C3C3C3">
                                        <li class="active"><a data-toggle="tab" href="#1_active">Active Bills</a></li>
                                        <li><a data-toggle="tab" href="#1_new">New Bills</a></li>
                                    </ul>
                                    <div class="tab-content" id="1_subfilter" ng-controller="billsController">
                                        <div id="1_active" class="mobile-style tab-pane fade in active">
                                        <div class="subtitle" id="1_subtitle">
                                            <div id="st2">Active Bills</div>
                                            <div style="float:right; padding-right:2px;" id="1_sf">
                                                <input type="text" ng-model="searchBillsActive" style="width:120px;" placeholder="Search" id="1_search"/>
                                            </div>
                                        </div>
                                            <table class="table table-content" style="width:100%" id="content2">
                                                <thead>
                                                    <th> Bill ID </th>
                                                    <th> Bill Type </th>
                                                    <th> Title </th>
                                                    <th> Chamber </th>
                                                    <th> Introduced On </th>
                                                    <th> Sponsor </th>
                                                    <th></th>
                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="r in billsActiveController | orderBy : 'introduced_on':true | filter : searchBillsActive | itemsPerPage: pageSize" current-page="currentPage" pagination-id="billsActive">
                                                        <td class="col-md-2"> {{ r.id }} </td>
                                                        <td class="col-md-1"> {{ r.type }} </td>
                                                        <td class="col-md-3"> {{ r.title }} </td>
                                                        <td class="col-md-2" ng-if="r.chamber == 'House'"><img src="images/h.png" width=30 height=30 alt="Image not Available"/>&nbsp;{{r.chamber}}</td>
                                                        <td class="col-md-2" ng-if="r.chamber == 'Senate' || r.chamber == 'Joint'"><img src="images/s.svg" width=30 height=30 alt="Image not Available"/>&nbsp;{{r.chamber}}</td>
                                                        <td class="col-md-2"> {{ r.introduced_on }} </td>
                                                        <td class="col-md-3"> {{ r.sponsor }} </td>
                                                        <td class="col-md-2"> <a href="javascript:viewDetails(1, '{{r.bill_id}}');" class="twhite"><button class="btn btn-primary twhite">View Details</button></a> </td>
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                <dir-pagination-controls class="text-center" 
                                                    direction-links="true"
                                                    pagination-id="billsActive"
                                                    boundary-links="true">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                        <div ng-hide="tab.isSet(5)" id="1_new" class="mobile-style tab-pane fade">
                                        <div class="subtitle" id="1_subtitle">
                                            <div id="st2">New Bills</div>
                                            <div style="float:right; padding-right:2px;" id="1_sf">
                                                <input type="text" ng-model="searchBills" style="width:120px;" placeholder="Search" id="1_search"/>
                                            </div>
                                        </div>
                                            <table class="table table-content" id="content">
                                                <thead>
                                                    <th> Bill ID </th>
                                                    <th> Bill Type </th>
                                                    <th> Title </th>
                                                    <th> Chamber </th>
                                                    <th> Introduced On </th>
                                                    <th> Sponsor </th>
                                                    <th></th>
                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="r in billsNewController | orderBy : 'introduced_on':true | filter : searchBills | itemsPerPage: pageSize" current-page="currentPageNew" pagination-id="billsNew">
                                                        <td class="col-md-2"> {{ r.id }} </td>
                                                        <td class="col-md-1"> {{ r.type }} </td>
                                                        <td class="col-md-3"> {{ r.title }} </td>
                                                        <td class="col-md-2" ng-if="r.chamber == 'House'"><img src="images/h.png" width=30 height=30 alt="Image not Available"/>&nbsp;{{r.chamber}}</td>
                                                        <td class="col-md-2" ng-if="r.chamber == 'Senate' || r.chamber == 'Joint'"><img src="images/s.svg" width=30 height=30 alt="Image not Available"/>&nbsp;{{r.chamber}}</td>
                                                        <td class="col-md-2"> {{ r.introduced_on }} </td>
                                                        <td class="col-md-3"> {{ r.sponsor }} </td>
                                                        <td class="col-md-2"> <a href="javascript:viewDetails(1, '{{r.bill_id}}');" class="twhite"><button class="btn btn-primary twhite">View Details</button></a> </td>
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                <dir-pagination-controls class="text-center" 
                                                    direction-links="true"
                                                    pagination-id="billsNew"
                                                    boundary-links="true">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="main" id="committees">
                                <section>
                                    <ul class="nav nav-tabs" style="color:#C3C3C3">
                                        <li class="active"><a data-toggle="tab" href="#2_house">House</a></li>
                                        <li><a data-toggle="tab" href="#2_senate">Senate</a></li>
                                        <li><a data-toggle="tab" href="#2_joint">Joint</a></li>
                                    </ul>
                                    <div class="tab-content" id="2_subfilter" ng-controller="committeesController">
                                        <div ng-hide="tab.isSet(6)" id="2_house" class="mobile-style tab-pane fade in active">
                                        <div class="subtitle" id="2_subtitle">
                                            <div id="st3">House</div>
                                            <div style="float:right; padding-right:2px;" id="2_sf">
                                                <input type="text" ng-model="searchCommitteesHouse" style="width:120px;" placeholder="Search" id="2_search"/>
                                            </div>
                                        </div>
                                            <table class="table table-content" id="content">
                                                <thead>
                                                    <th></th>
                                                    <th> Chamber </th>
                                                    <th> Committee ID </th>
                                                    <th> Name </th>
                                                    <th> Parent Committee </th>
                                                    <th> Contact </th>
                                                    <th> Office </th>
                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="r in committeesHouseController | orderBy : 'id' | filter : searchCommitteesHouse | itemsPerPage: pageSize" current-page="currentPage" pagination-id="comHouse">
                                                        <td class="col-md-1"> <a href="javascript:addToFavourite(2,'{{r.id}}');"><button class="btn btn-default"><span ng-if="r.fav == '1'" class="glyphicon glyphicon-star yellow" id="2_{{r.id}}"></span><span ng-if="r.fav == '0'" class="glyphicon glyphicon-star-empty" id="2_{{r.id}}"></span></button></a></td>
                                                        <td class="col-md-1" ng-if="r.chamber == 'House'"><img src="images/h.png" width=30 height=30 alt="Image not Available"/>&nbsp;{{r.chamber}}</td>
                                                        <td class="col-md-1" ng-if="r.chamber == 'Senate' || r.chamber == 'Joint'"><img src="images/s.svg" width=30 height=30 alt="Image not Available"/>&nbsp;{{r.chamber}}</td>
                                                        <td class="col-md-1"> {{ r.id }} </td>
                                                        <td class="col-md-6"> {{ r.name }} </td>
                                                        <td class="col-md-1"> {{ r.parent }} </td>
                                                        <td class="col-md-1"> {{ r.contact }} </td>
                                                        <td class="col-md-1"> {{ r.office }} </td>
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                <dir-pagination-controls class="text-center" id="2_page"
                                                    direction-links="true"
                                                    pagination-id="comHouse"
                                                    boundary-links="true">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                        <div ng-hide="tab.isSet(7)" id="2_senate" class="mobile-style tab-pane fade">
                                        <div class="subtitle" id="2_subtitle">
                                            <div id="st3">Senate</div>
                                            <div style="float:right; padding-right:2px;" id="2_sf">
                                                <input type="text" ng-model="searchCommitteesSenate" style="width:120px;" placeholder="Search" id="2_search"/>
                                            </div>
                                        </div>
                                            <table class="table table-content" id="content">
                                                <thead>
                                                    <th></th>
                                                    <th> Chamber </th>
                                                    <th> Committee ID </th>
                                                    <th> Name </th>
                                                    <th> Parent Committee </th>
                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="r in committeesSenateController | orderBy : 'id' | filter : searchCommitteesSenate | itemsPerPage: pageSize" current-page="currentPageSenate" pagination-id="comSenate">
                                                        <td class="col-md-1"> <a href="javascript:addToFavourite(2,'{{r.id}}');"><button class="btn btn-default"><span ng-if="r.fav == '1'" class="glyphicon glyphicon-star yellow" id="2_{{r.id}}"></span><span ng-if="r.fav == '0'" class="glyphicon glyphicon-star-empty" id="2_{{r.id}}"></span></button></a></td>
                                                        <td class="col-md-1" ng-if="r.chamber == 'House'"><img src="images/h.png" width=30 height=30 alt="Image not Available"/>&nbsp;{{r.chamber}}</td>
                                                        <td class="col-md-1" ng-if="r.chamber == 'Senate'"><img src="images/s.svg" width=30 height=30 alt="Image not Available"/>&nbsp;{{r.chamber}}</td>
                                                        <td class="col-md-1"> {{ r.id }} </td>
                                                        <td class="col-md-8"> {{ r.name }} </td>
                                                        <td class="col-md-1"> {{ r.parent }} </td>
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                <dir-pagination-controls class="text-center" 
                                                    direction-links="true"
                                                    pagination-id="comSenate"
                                                    boundary-links="true">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                        <div ng-hide="tab.isSet(8)" id="2_joint" class="mobile-style tab-pane fade">
                                        <div class="subtitle" id="2_subtitle">
                                            <div id="st3">Joint</div>
                                            <div style="float:right; padding-right:2px;" id="2_sf">
                                                <input type="text" ng-model="searchCommittees" style="width:120px;" placeholder="Search" id="2_search"/>
                                            </div>
                                        </div>
                                            <table class="table table-content" id="content">
                                                <thead>
                                                    <th></th>
                                                    <th> Chamber </th>
                                                    <th> Committee ID </th>
                                                    <th> Name </th>
                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="r in committeesJointController | orderBy : 'id' | filter : searchCommittees | itemsPerPage: pageSize" current-page="currentPageJoint" pagination-id="comJoint">
                                                        <td class="col-md-1"> <a href="javascript:addToFavourite(2,'{{r.id}}');"><button class="btn btn-default"><span ng-if="r.fav == '1'" class="glyphicon glyphicon-star yellow" id="2_{{r.id}}"></span><span ng-if="r.fav == '0'" class="glyphicon glyphicon-star-empty" id="2_{{r.id}}"></span></button></a></td>
                                                        <td class="col-md-2" ng-if="r.chamber == 'House'"><img src="images/h.png" width=30 height=30 alt="Image not Available"/>&nbsp;{{r.chamber}}</td>
                                                        <td class="col-md-2" ng-if="r.chamber == 'Senate' || r.chamber == 'Joint'"><img src="images/s.svg" width=30 height=30 alt="Image not Available"/>&nbsp;{{r.chamber}}</td>
                                                        <td class="col-md-2"> {{ r.id }} </td>
                                                        <td class="col-md-8"> {{ r.name }} </td>
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                <dir-pagination-controls class="text-center" id="2_page"
                                                    direction-links="true"
                                                    pagination-id="comJoint"
                                                    boundary-links="true">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="main" id="favorites">
                                <section  >
                                    <ul class="nav nav-tabs" style="color:#C3C3C3">
                                        <li class="active"><a data-toggle="tab" href="#3_legislators">Legislators</a></li>
                                        <li><a data-toggle="tab" href="#3_bills">Bills</a></li>
                                        <li><a data-toggle="tab" href="#3_committees">Committees</a></li>
                                    </ul>

                                    <div class="tab-content" id="3_subfilter">
                                        <div ng-hide="tab.isSet(1)" id="3_legislators" class="mobile-style tab-pane fade in active">
                                        <div class="subtitle" id="sub3">
                                            Favorite Legislators
                                        </div>
                                            <table class="table table-content" id="3_fav_leg_table">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Image</th>
                                                        <th>Party</th>
                                                        <th>Name</th>
                                                        <th>Chamber</th>
                                                        <th>State</th>
                                                        <th>Email</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div ng-hide="tab.isSet(2)" id="3_bills" class="mobile-style tab-pane fade">
                                        <div class="subtitle" id="sub3">
                                            Favorite Bills
                                        </div>
                                            <table class="table table-content" id="3_fav_bil_table">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Bill ID</th>
                                                        <th>Bill Type</th>
                                                        <th>Title</th>
                                                        <th>Chamber</th>
                                                        <th>Introduced On</th>
                                                        <th>Sponsor</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div ng-hide="tab.isSet(3)" id="3_committees" class="mobile-style tab-pane fade ">
                                        <div class="subtitle" id="sub3">
                                            Favorite Committees
                                        </div>
                                            <table class="table table-content" id="3_fav_com_table">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Chamber</th>
                                                        <th>Committee ID</th>
                                                        <th>Name</th>
                                                        <th>Parent Committee</th>
                                                        <th>Sub Committee</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="item result">
                            <div class="main">
                                <div class="right-panel" id="right-panel" class="mobile-style container-fluid">
                                    <button type="button" class="btn btn-default " style="margin-bottom: 10px; margin-right:20px;" onclick="prev_slide()">
                                    <span class="glyphicon glyphicon-chevron-left"></span> 
                                    </button>
                                    <span style="font-weight:bold; font-size:16pt;">Details</span> 
                                    <span style="float:right"> 
                                    <a id="favIconHref" href="#">
                                    <button id="favIcon" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-star-empty fav" id="fav_star"></span>
                                    </button>
                                    </a>
                                    </span>
                                </div>
                                <div class="details" style="padding-left:10px; padding-top: 10px;" id="details_table">
                                </div>
                                <div class="object" style="padding-top: 10px;" id="object_div">
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <noscript></noscript>
    </body>
</html>